.Navbar-secondary {
    background-color: #045694;
    text-align-last: right;
    
    height: 30px;
}
 
.Navbarmain{
   background-color: #045694;
   height: 50px;
}

.link-tex .link-tex-2{
  justify-content: end;
}

   